body{
    background: url(/Images/Login/back.png);
	background-color: #444;
    background: url(/Images/Login/pinlayer2.png),url(/Images/Login/pinlayer1.png),url(/Images/Login/back.png);    
}

.vertical-offset-100{
    padding-top:100px;
}